$layout-padding-x: 100px;
$color-lavender: #e1d3e2;
$color-yellow: #f7cc65;
$color-teal: #57a48d;
$color-blue: #345fa2;
$color-orange: #f27554;
$color-pink: #dd648d;
$color-red: #e84949;
$color-ink: #0a0e14;
$color-gray-dark: #333333;
$color-gray: #666666;
$color-gray-light: #dddddd;
$color-gray-lighter: #f5f5f5;
$color-white: #ffffff;
