@import "../../styles/variables";

.merch {
  &__banner {
    position: relative;
    margin-left: -$layout-padding-x;
    margin-right: -$layout-padding-x;
    height: clamp(350px, 48.6vw, 700px);
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: clamp(20px, 2.78vw, 40px);
    row-gap: clamp(40px, 5vw, 80px);
    margin-top: clamp(60px, 6vw, 100px);
  }
}
